
body{
    
    background-color: rgb(251, 247, 255);}

#mylogo {
    margin-top: 40px;
    padding: 0px;
    width: 200px;
    height: 70px;
}

.navigation {
    margin-top: -60px;
    padding: 0px;
    text-align: right;
    font-family: Optima, sans-serif ;
    font-weight: bold;
    word-spacing: 10px;
    
}


.find {
    margin-top: 300px;
    /* margin-bottom: 100px; */
    text-align:center;
    font-family: Optima, sans-serif ;
    font-size: 15px;
    font-weight: bold;
    bottom: 0;
    
}


.social{
    margin-bottom: 100px;
    text-align: center;
    bottom: 0;
}

.about{
    text-align: center;
    font-family:Optima, sans-serif ; }

.table{
    margin-left: auto;
    margin-right: auto;
}

.CV{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 5px;
}


.CV:hover {
    background-color: #cf6ee7; 
    transform: translateY(-2px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }

.CV:active{
    background-color: #c958e6; 
    transform: translateY(1px); 
    box-shadow: none; 
}














/* unvisited link */
a:link {
    color: black;
  }
  
/* visited link */
a:visited {
    color: black;
  
  }
  
/* mouse over link */
  a:hover {
    color: rgb(206, 157, 252);
  }
  
/* selected link */
a:active {
    color: blue;
  }

  
@keyframes color-change {
    from {fill:#edc655;
    }
    to {
        fill: #f76414;;
    }
}

@keyframes color-change {
    0% {
      fill: #edc655;
    }
    50% {
      fill: #fcffad;
    }
    100% {
      fill: #f76414;
    }
  }

  .sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  .sun {
    animation: 4s color-change infinite alternate linear;
  }

  @keyframes cloud-move {
    from {
      transform: translate(0, 50px);
    }
    to {
      transform: translate(200px, 50px);
    }
  }

  .cloud-front {
    animation-duration: 30s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes cloud-move-reverse {
    from {
      transform: translate(446px, 48px);
    }
    to {
      transform: translate(100px, 48px);
    }
  }

  .cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
  }