:root {
    --fontstyle: monospace;
}

#me {
    justify-content: center;
}

body {
    background-color: rgb(251, 247, 255);
}

#mylogo {
    margin-top: 40px;
    padding: 0px;
    width: 200px;
    height: 70px;
}

.navigation {
    margin-top: -60px;
    padding: 0px;
    text-align: right;
    font-family: Optima, sans-serif;
    font-weight: bold;
    word-spacing: 10px;
}

.container {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* grid-template-columns: 1fr 1fr 1fr;  // 이 부분은 필요 없음, flexbox만 사용 */
}

.myimage img {
    border-radius: 50% !important; /* 동그랗게 만들기 */
    width: 150px !important; /* 너비 */
    height: 150px !important; /* 높이 */
    object-fit: cover !important; /* 잘리지 않도록 */
}

.Text {
    font-family: Optima, sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.find {
    margin-top: 300px;
    text-align: center;
    font-family: Optima, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.social {
    margin-bottom: 100px;
    text-align: center;
}

/* 링크 스타일 */
a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: rgb(206, 157, 252);
}

a:active {
    color: blue;
}
