:root {
    --fontstyle: monospace;
}

#me {
    justify-content: center;
}

body {
    background-color: rgb(251, 247, 255);
}

#mylogo {
    margin-top: 40px;
    padding: 0px;
    width: 200px;
    height: 70px;
}

.navigation {
    margin-top: -60px;
    padding: 0px;
    text-align: right;
    font-family: Optima, sans-serif;
    font-weight: bold;
    word-spacing: 10px;
    color: rgb(178, 99, 252);
}

.container {
    margin-left: 20px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* grid-template-columns: 1fr 1fr 1fr;  // 이 부분은 필요 없음, flexbox만 사용 */
}

.myimage img {
    /* margin-right: 20px;  이미지와 텍스트 사이의 간격을 설정 */
    border-radius: 50% !important; /* 동그랗게 만들기 */
    width: 200px !important; /* 너비 */
    height: 200px !important; /* 높이 */
    object-fit: cover !important; /* 잘리지 않도록 */
}

.Text {
    font-family: Optima, sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.find {
    margin-top: 300px;
    text-align: center;
    font-family: Optima, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.social {
    margin-bottom: 100px;
    text-align: center;
}

/* 링크 스타일 */
a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: rgb(206, 157, 252);
}

a:active {
    color: blue;
}


/* 기본 버튼 스타일 */
.button {
    display: inline-block;
    background-color: #bd76ff; /* 버튼 색상 */
    color: white; /* 텍스트 색상 */
    padding: 10px 20px; /* 버튼 안의 여백 */
    text-align: center; /* 텍스트 중앙 정렬 */
    text-decoration: none; /* 링크의 기본 밑줄 제거 */
    border-radius: 12px; /* 둥근 모서리 */
    font-size: 16px; /* 폰트 크기 */
    transition: background-color 0.3s, transform 0.3s; /* 효과 전환 */
}

/* 마우스 오버 시 스타일 */
.button:hover {
    background-color: #a06bff; /* 마우스 오버 시 배경 색상 변화 */
    transform: scale(1.1); /* 마우스 오버 시 크기 증가 */
}